.carousel {
  position: relative;
  width: 100%;
  height: calc(100vh - 58px);
  overflow: hidden;
}


.carousel-swiper {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.carousel-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.carousel-text-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 95px;
  z-index: 2;
}


/* Текст */
.carousel-text {
  max-width: 75%;
  color: white;
}

.carousel .buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 40px;
  margin: 30px 30px 30px 0;
}

.hero-action .btn {
  flex: 1;

  padding: 18px 28px;
  font-size: 18px;
  font-weight: 600;

  border-radius: 16px;
  border: none;


  background: linear-gradient(145deg, #ff4b3d, #ff1f0f);
  color: #fff;

  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;


  box-shadow: 0 6px 15px rgba(255, 43, 21, 0.35),
              0 3px 6px rgba(0, 0, 0, 0.2);
}


.hero-action .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(255, 43, 21, 0.4),
              0 6px 12px rgba(0, 0, 0, 0.25);
}


.hero-action .btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 15px rgba(255, 43, 21, 0.35),
              0 3px 6px rgba(0, 0, 0, 0.2);
}


@media (max-width: 1279px) {
  .carousel {
    height: 500px;
  }

}

