:root {
  --swiper-theme-color: #ffffff;
}

.swiper-slide {
  width: 100%;
  height: calc(100dvh - 58px);
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 100%;
}

@media(max-width: 1279px) {
  .swiper-slide {
    height: 500px;
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.slide-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
}
